<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="type" value="prometheus" />
    <add key="prometheus_port" value="4445" />
    <add key="/intelcpu/0/temperature/13" value="false" />
    <add key="/intelcpu/0/temperature/14" value="false" />
    <add key="/intelcpu/0/temperature/15" value="false" />
    <add key="/intelcpu/0/temperature/16" value="false" />
    <add key="/intelcpu/0/temperature/17" value="false" />
    <add key="/intelcpu/0/temperature/18" value="false" />
    <add key="/intelcpu/0/temperature/19" value="false" />
    <add key="/intelcpu/0/temperature/20" value="false" />
    <add key="/intelcpu/0/temperature/21" value="false" />
    <add key="/intelcpu/0/temperature/22" value="false" />
    <add key="/intelcpu/0/temperature/23" value="false" />
    <add key="/intelcpu/0/temperature/24" value="false" />
    
    <add key="prometheus_host" value="*" />
  </appSettings>
</configuration>